/* You can add global styles to this file, and also import other style files */
@media (min-width:576px) {
    .clean-block .block-heading {
      padding-top:80px;
    }
  }
  
  body {
    margin:0;
    font-family:Montserrat,sans-serif;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:left;
    background-color:#fff;
  }
  
  .clean-block.clean-form form {
    border-top:2px solid #5ea4f3;
    background-color:#fff;
    max-width:500px;
    margin:auto;
    padding:40px;
    box-shadow:0 2px 10px rgba(0,0,0,.075);
  }
  
  .clean-block .block-heading {
    padding-top:50px;
    margin-bottom:40px;
    text-align:center;
  }
  
      