<div class="container">
    <div *ngIf="showSuccessMessage$ | async" class="alert alert-success" role="alert">
        {{message$ | async}}
      </div>
      <mat-card>
        <mat-card-header>
            <mat-card-title>Query strategy logs</mat-card-title>
            
        </mat-card-header>
        <mat-card-content>
            <div class="container">
                <form #accountForm="ngForm">
                    <mat-form-field>
                        <mat-label>Account</mat-label>
                        <mat-select [(value)]="query.accountId">
                          <mat-option *ngFor="let account of accounts$ | async" [(value)]="account.accountId">{{account.accountName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Strategy</mat-label>
                      <mat-select [(value)]="query.strategyName">
                        <mat-option *ngFor="let strat of strategyNames$ | async" [(value)]="strat.value">{{strat.name}}</mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Event log type</mat-label>
                    <mat-select [(value)]="query.logEventType">
                      <mat-option *ngFor="let strat of eventLogTypes$ | async" [(value)]="strat.value">{{strat.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                    <mat-form-field>
                        <mat-label>Choose from date</mat-label>
                        <input name="fromDate" matInput [matDatepicker]="fromPicker" [(ngModel)]="query.fromDate">
                        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                        <mat-datepicker #fromPicker></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Choose to date</mat-label>
                        <input name="toDate" matInput [matDatepicker]="toPicker" [(ngModel)]="query.toDate">
                        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                        <mat-datepicker #toPicker></mat-datepicker>
                      </mat-form-field>
                </form>
                
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="queryLogs()">Query</button>
            <button mat-button (click)="clear()">Clear</button>
          </mat-card-actions>
          
    </mat-card>
    <br/>
    <div *ngIf="eventLogs$ | async">
      <mat-card>
        <mat-card-header>

        </mat-card-header>
        <mat-card-content>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Log message type</th>
                <th scope="col">Strategy name</th>
                <th scope="col">Event date</th>
                
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let log of eventLogs$ | async">
                <td>{{log.logMessageType}}</td>
                <td>{{log.strategyName}}</td>
                <td>{{log.logEventDate | date:'dd.MM.yyyy hh:mm:ss'}}</td>
                
                <td><button mat-button (click)="showLogDetails(log)">Show</button></td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
</div>